@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');


*{
	margin:0px;
	padding:0px;
}

body{
	font-family: 'Poppins', sans-serif;
}

.navbar{
	background-color:white;
	border:0px;
}

.logo{
	float:left;
}

.navbar-brand{
	font-size:32px;
	color:black;
}

.logo-block{
	width:100px;
	height:auto;
}

.container-fluid :hover{
	color:black;
}

.navbar-inverse .navbar-brand {
    color: black;
}

.navbar-user-text{
	font-size:14px;
	color:black;
}

.header{
	text-align:center;
	margin:50px 80px 20px 80px;

	

}

.header-text{
	text-align:center;
}

.header-title{
	font-size:60px;
	font-weight:normal;
	font-family: 'Poppins';
}

.project-box{
	border:1px solid #CDD0D1;
	text-align:center;
	border-radius:5px;
	padding:60px;
	margin:5px;
	cursor:pointer;
}

.card :hover{
	background-color:#80CEE8;
	color:white;
}

.project-box2{
	text-align:center;
	border:1px solid #CDD0D1;
	border-radius:5px;
	padding:80px;
	margin:5px;
	border-style:dashed;
	cursor:pointer;
}

.project-title{
	font-size:30px;
	font-weight:900;
}

.project-title2{
	font-size:16px;
}

.padded{
	padding:20px 150px 20px 150px;
}

.modal-content{
	background-color:#f1f4f5;
	padding:40px
}

.modal-body{

	background-color:white;
	border-radius:5px;
	height:600px;
}


.img_pic2 {
    border-radius: 50%;
    border: 3px solid #fff;
    width: 50px;
    height: auto;
    vertical-align: middle;
	margin-left:10px;
}

.modt{
	padding:0px;
}

.modal-title{
	color:black;
	padding-top:3px;
	font-weight:bold;
}

.details-header{
	padding:10px;
	margin-top:5px;
	cursor:pointer;
	border-left:1px solid #DCDDE0;
	border-right:1px solid #DCDDE0;
}

.details-header-text{
	font-family:'Poppins', sans-serif;
	font-weight: bold;
	color:black;
}

h4{
	font-weight:bold;
}

.details-header-box{
	border-bottom:1px solid #DCDDE0;
	margin-top:5px;
}

.term-details{
	margin-top:30px;
	margin-bottom:30px
}

.details-header2{
	padding:10px;
	margin-top:100px;
}

.details-body-head{
	color:#0E617D;
	font-size:12px;
	font-weight:bold;
	padding-top:10px;
}

.details-body{
	color:#858C8F;
	font-size:12px;
}
